@charset "UTF-8";

/* 指定クラス */
.inner {
  margin: 0 auto;
  text-align: center;
  width: 1100px;
}
/* 指定クラス */

/* ボタンのボックス　共通クラス */

.push_box, .e-mail_box {
  background-color: #74cfae;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  transition: color .3s;
}

/* ボタンのボックス　共通クラス */

/* ヘッダー */
header {
  background-color: #fff;
  position: fixed;
  width: 100%;
}

.header_inner {
  height: 70px;
  position: relative;
}

.header_icon {
  font-size: 3em;
  left: 100px;
  padding: 15px 0 15px 0;
  position: absolute;
}

.push_box {
  padding: 14px 12px;
  position: absolute;
  right: 100px;
  top: 10px;
}

.push_box:hover {
  color: #333;
}

/* ヘッダー */

/* メイン */
/* boltテーマのボックス */

.theme {
  background-color: #f2f2f2;
}

.title_inner h1 {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;  
  padding-top: 250px;
}

.title_inner h2 {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
  padding-bottom: 250px;
}
/* boltテーマのボックス */

/* sectionのボックス(what we can do)*/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.first_section {
  background-color: #74cfae;
}

.section_inner {
  font-size: 20px;
  padding-top: 50px;
}

.img_box {
  float: left;
  width: 500px;
}

.section_inner .text_box {
  color: #fff;
  font-size: 20px;
  margin: 0 auto;
  width: 1000px;
  word-break: break-all;
}

.section_inner h2 {
  font-size: 24px;
  padding-bottom: 35px;
}

/* sectionのボックス(what we can do) */


/* articleのボックス */

article {
  background-color: #f2f2f2;
}

.article_inner h2 {
  font-size: 24px;
  padding: 60px 0 40px 0;
}

.panel_box {
  display: flex;
  flex-wrap: wrap;
}

.panel_box img {
  cursor: pointer;
  opacity: 0.7;
}

.panel_box img:hover {
  opacity: 1;
}

.panel_box img:nth-child(-n+3) {
  padding: 0 0 80px 100px;
}

.panel_box img:nth-child(n+4) {
  padding: 0 0 90px 100px;
}

.panel_box img:nth-child(1) {
  padding-left: 0;
}

.panel_box img:nth-child(4) {
  padding-left: 0;
}

.content_box {
  display: inline-block;
  padding-bottom: 70px;
}

.content_box .text_box {
  float: left;
  line-height: normal;
  width: 500px;
}

.e-mail_box {
  float: left;
  margin-left: 90px;
  padding: 14px 20px;
}

.e-mail_box:hover {
  color: #333;
}

/* articleのボックス */

/* sectionのボックス(ourskills) */

.second_section {
  background-color: #4e4e4e;
}

.second_section_inner {
  color: #fff;
  font-size: 16px;
  padding-top: 70px;
}

.round_panel_box {
  display: inline-block;
  font-size: 0;
  margin: 70px 0 100px 0;
}

.round_panel:first-child {
  margin-left: 0;
}

.round_panel {
  float: left;
  margin-left: 180px;
}

.round_panel figcaption {
  font-size: 16px;
  padding-top: 20px;
}

/* sectionのボックス(our skills) */


/* navのボックス */

nav {
  background-color: #f2f2f2;
  display: flex;
}

.nav_inner {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

.item {
  color: #74cfae;
  font-size: 5em;
}

.animation_box {
  cursor: pointer;
  padding: 25px 0 25px 0;
  transition: all .3s;
  width: 185px;
}

.animation_box:hover {
  background-color: #fff;
}


/* navのボックス */
/* メイン */

/* フッター */
footer {
  background-color: #74cfae;
}

.footer_box {
  color: #fff;
  margin-left: auto;
  padding: 20px 0 25px 0;
  text-align: right;
}
/* フッター */

/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);
