@charset "UTF-8";

img {
  vertical-align: bottom;
}

a {
  display: inline-block;
}

/* フォント */
body {
  font-family: 'Lato';
}

.title_font {
  font-family: 'Raleway';
}

/* 指定クラス */
.inner {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  width: 1100px;
}

/* ボタンのボックス　共通クラス */

.push_box, .e-mail_box {
  background-color: #74cfae;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  transition: color .3s;
}

/* ヘッダー */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header_inner {
  padding: 15px 0 15px 0;
}

.header_icon {
  box-sizing: border-box;
  font-size: 3em;
  float: left;
  left: 100px;
}

.push_box {
  box-sizing: border-box;
  float: right;
  padding: 14px 12px;
}

.push_box:hover {
  color: #333;
}

.menu {
  border: solid 1px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  content: "";
  cursor: pointer;
  display: none;
  float: right;
  height: 40px;
  padding: 10px;
  position: relative;
  width: 45px;
}

.menu_inner, 
.menu_inner:before, 
.menu_inner:after {
  background: #ddd;
  border-radius: 3px;
  content: '';
  cursor: pointer;
  display: block;
  height: 3px;
  position: absolute;
  width: 25px;
}

.menu_inner:before {
  bottom: -8px;
}

.menu_inner:after {
  bottom: -16px;
}

/* メイン */

.main {
  background-color:	#f2f2f2;
  padding-top: 78px;
}

/* boltテーマのボックス */

.theme {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_inner {
  padding: 250px 0;
}

.title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.theme_sentence {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

/* section_primaryのボックス*/

.section_primary {
  background-color: #74cfae;
}

.section_inner {
  display: flex;
  padding-top: 50px;
}

.img_box {
  box-sizing: border-box;
}

.text_box {
  box-sizing: border-box;
  color: #fff;
  font-size: 20px;
  float: left;
  line-height: 1.5em;
  margin-left: 100px;
  word-break: break-all;
}

.primary_title {
  font-size: 24px;
}

.primary_sentence {
  margin-top: 35px;
}

/* articleのボックス */

.photo_inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.photo_title {
  font-size: 24px;
}

.panel_box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 90px;
}

.panel_inner {
  margin-left: 100px;
}

.panel_inner:nth-child(n+4) {
  margin-top: 80px;
}

.panel_inner:nth-child(3n+1) {
  margin-left: 0;
}

.panel_inner_box {
  opacity: 0.7;
}

.panel_inner_box:hover {
  cursor: pointer;
  opacity: 1;
  transition: all .3s;
}

.content_box {
  align-items: center;
  box-sizing: border-box;
  color: #333;
  display: flex;
  line-height: normal;
  margin: 0 auto;
}

.e-mail_box {
  margin-left: 90px;
  padding: 14px 20px;
}

.e-mail_box:hover {
  color: #333;
}

/* section_secondalyのボックス */

.section_secondaly {
  background-color: #4e4e4e;
  text-align: center;
}

.second_section_inner {
  color: #fff;
  font-size: 24px;
  padding: 70px 0 100px 0;
}

.round_panel_box {
  font-size: 0;
  margin-top: 70px;
}

.round_panel:first-child {
  margin-left: 0;
}

.round_panel {
  float: left;
  margin-left: 180px;
}

.round_sentence {
  font-size: 16px;
  margin-top: 20px;
}

/* navのボックス */

.icon_box {
  display: flex;
}

.nav_inner {
  display: flex;
  justify-content: center;
  padding: 200px 0;
}

.item {
  color: #74cfae;
  font-size: 3em;
}

.animation_box {
  display: inline-block;
  padding: 25px 0;
  width: 185px;
}

.nav_icon:hover {
  background-color: #fff;
  cursor: pointer;
  transition: all .3s;
}

/* フッター */
.footer {
  background-color: #74cfae;
  display: inline-block;
  width: 100%;
}

.footer_inner {
  color: #fff;
  padding: 20px 0 25px 0;
  text-align: right;
}

/* レスポンシブ */
/* タブレット section_primary*/

@media screen and (max-width:1199px) {
  .inner {
    width: 97%;
  }

  .section_inner {
    display: block;
    padding-bottom: 25px;
  }

  .img_box, .text_box {
    margin: 0 auto;
  }
  
  .text_box {
    margin-top: 20px;
  }
  
/* タブレット　article*/
  .panel_box {
    display: block;
    margin-bottom: 0;
  }

  .panel_box:first-child {
    margin-bottom: 0;
  }

  .panel_inner {
    margin: 0;
  }

  .panel_inner:nth-child(3n) {
    margin-bottom: 80px;
  }

  .panel_inner:nth-child(n+4) {
    margin-top: 0;
  }

  .panel_inner:last-child {
    margin-bottom: 0;
  }

  .content_box {
    display: block;
    margin-top: 80px;
  }

  .content_inner_box {
    margin-bottom: 40px;
  }

  .e-mail_box {
    display: inline-block;
    margin: 0 auto;
  }

/* タブレット　section_secondaly */ 
  .round_panel:first-child {
    margin-top: 70px;
  }

  .round_panel {
    float: none;
    margin: 0 auto;
    margin-top: 88px;
  }
}  


/* スマホ　header */
@media screen and (max-width:767px) {
  .push_box {
    display: none;
  }

  .menu {
    display: block;
  }

/* スマホ　theme */
  .title {
    font-size: 80px;
  }

  .title_inner {
    padding: 160px 0 130px;
  }

/* スマホ section_primary*/
  .img_box, .text_box {
    width: 100%;
  }
 
/* スマホ　article*/
  .content_box {
    width: 100%;
  }

/* スマホ　nav */
  .nav_inner {
    display: block;
    padding: 50px 0 50px;
  }
  .animation_box {
    width: 100%;
  }
}
